@use "../abstracts/" as *;

.features {
  --flex-group-width: 100%;
  --justify-content: space-between;
  --align-items: center;
  color: rgb($feature-color, $feature-color-opacity);
  font-size: $feature-font-size;
  font-weight: $feature-font-weight;
  font-family: $feature-font-family;

  .heading {
    color: $feature-color;
  }

  fieldset {
    border: none;
  }

  input {
    display: none;
  }

  .label {
    cursor: pointer;
    padding-block: $feature-spacing;
    font-weight: $font-weight-default;

    &-container:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }

  .highlighted {
    color: $feature-color;
    font-weight: $font-weight-bold;
  }

  .full-icon {
    color: $feature-icon-active-color;
    font-size: $feature-icon-size;
  }

  .outline-icon {
    color: $feature-icon-default-color;
    font-size: $feature-icon-size;
  }

  [data-input] {
    font-size: $feature-description-font-size;
    color: $feature-description-color;
    letter-spacing: 2px;
  }
}

.display-none {
  display: none;
}
