@use "../abstracts/" as *;

#toggle,
.hamburger,
.hamburger *,
.menu-close-overlay {
  display: none;
}
/* 
-----------------------------------------------
   nav menu hamburger at small screen size
-----------------------------------------------
 */
@include mq(small, max-width) {
  .hamburger,
  .hamburger *,
  .menu-close-overlay {
    display: block;
  }

  /* 
--------------------------------------
     Styling the hamburger menu
--------------------------------------  
*/
  .hamburger {
    --flex-row-gap: #{$hamburger-menu-space};
    --flex-direction: column;

    div {
      width: $hamburger-menu-width;
      height: $hamburger-menu-height;
      background-color: $hamburger-menu-color;
      border-radius: 100vw;
      transition: all $animation-transation-duration;
    }
  }
  /* 
-----------------------------------
     hamburger menu animation
----------------------------------- 
 */
  #toggle:checked + .hamburger div:nth-of-type(1) {
    transform: translatey($movementValue) rotate(45deg);
  }

  #toggle:checked + .hamburger div:nth-of-type(3) {
    transform: translatey($movementValue * -1) rotate(-45deg);
  }

  #toggle:checked + .hamburger div:nth-of-type(2) {
    opacity: 0;
  }

  /*
-------------------------------------------------------------------   
  This CSS rule defines the styling for the menu close overlay to cover the entire screen,
  responsible for closing the menu when clicked outside of the menu. 
-------------------------------------------------------------------  
  */
  .site-header:has(#toggle:checked) .menu-close-overlay {
    position: absolute;
    inset: 0;
    z-index: -5;
    height: 100vh;
  }
}
