@use "../abstracts" as *;

.site-header {
  --site-header-background-color: #{$site-header-background-color};
  position: relative;
  color: $site-header-color;
  background-color: var(--site-header-background-color);
  padding: $site-header-padding;
  isolation: isolate;
  transition: background-color $site-header-transition-time linear;

  &.sticking {
    position: sticky;
    top: 0;
    z-index: 1000;

    &.stickynav {
      --site-header-background-color: #{$site-header-sticky-background-color};
      background-color: var(--site-header-background-color);
    }
  }

  &__inner {
    display: flex;
    gap: $size-4;
    align-items: $site-header-alignment;
    justify-content: $site-header-jusitifcation-small-screens;
    isolation: isolate;

    @include mq(medium) {
      justify-content: $site-header-jusitifcation-large-screens;
    }
  }
}
